<app-header title="Spieler-Daten"></app-header>

<div class="wrapper">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>

    <main>
        <mat-card class="Card">
            <div class="card-header">
                <mat-card-title class="mat-card-title">Spieler</mat-card-title>
                <div class="card-actions">
                    <button
                        mat-icon-button
                        class="icon-button-orange"
                        (click)="deleteSelected()"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>

            <mat-card-content>
                <table
                    mat-table
                    [dataSource]="dataSource"
                    matSort
                    class="tableInMat"
                >
                    <!-- Auswahl-Checkbox -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox
                                (change)="masterToggle()"
                                [checked]="
                                    selection.hasValue() && isAllSelected()
                                "
                                [indeterminate]="
                                    selection.hasValue() && !isAllSelected()
                                "
                                aria-label="Select all rows"
                            >
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                aria-label="Select row"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Vorname -->
                    <ng-container matColumnDef="vorname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Vorname
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.firstName }}
                        </td>
                    </ng-container>

                    <!-- Nachname -->
                    <ng-container matColumnDef="nachname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Nachname
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.lastName }}
                        </td>
                    </ng-container>

                    <!-- Email -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Email
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.email }}
                        </td>
                    </ng-container>

                    <!-- Aktiv -->
                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Aktiv
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.active ? 'Ja' : 'Nein' }}
                        </td>
                    </ng-container>

                    <!-- Tabellenstruktur -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </main>
</div>
