<h2
    mat-dialog-title
    style="background-color: white; color: #ff8200; margin: 0; padding: 16px"
>
    Neue Expo hinzufügen
</h2>

<mat-dialog-content style="padding: 16px">
    <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" name="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Location</mat-label>
        <input matInput [(ngModel)]="location" name="location" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Startdatum</mat-label>
        <input matInput [(ngModel)]="startsOn" name="startsOn" type="date" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Enddatum</mat-label>
        <input matInput [(ngModel)]="endsOn" name="endsOn" type="date" />
    </mat-form-field>

    <mat-checkbox
        [(ngModel)]="isActive"
        name="isActive"
        style="margin-top: 8px"
    >
        Ist aktiv?
    </mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions align="end" style="padding: 16px">
    <button mat-button (click)="cancel()">Abbrechen</button>
    <button mat-button color="primary" (click)="save()">Speichern</button>
</mat-dialog-actions>
