<app-header title="Fragen | Dashboard"></app-header>

<div class="wrapper">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>

    <main>
        <mat-card class="Card">
            <div class="card-header">
                <mat-card-title class="mat-card-title"
                    >Fragen-Sets</mat-card-title
                >
                <div class="card-actions">
                    <button
                        mat-icon-button
                        class="icon-button-orange"
                        (click)="openAddQuizDialog()"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel
                        class="ExpansionModel"
                        *ngFor="let quiz of quizzes"
                    >
                        <mat-expansion-panel-header class="quiz-header">
                            <mat-panel-title>{{ quiz.name }}</mat-panel-title>
                            <mat-panel-description
                                class="quiz-header-description"
                            >
                                <span class="quiz-status"
                                    >Aktiv:
                                    {{ quiz.isActive ? 'Ja' : 'Nein' }}</span
                                >
                                <div class="quiz-header-actions">
                                    <button
                                        mat-icon-button
                                        class="icon-button-white-orange"
                                        (click)="openAddQuestionDialog(quiz.id)"
                                    >
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <button
                                        mat-icon-button
                                        class="icon-button-white-orange"
                                        (click)="confirmDeleteQuiz(quiz)"
                                    >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="quiz-content">
                            <div
                                *ngFor="
                                    let question of getQuestionsForQuiz(quiz.id)
                                "
                            >
                                <mat-card class="questionModell">
                                    <div class="card-actions-top-right">
                                        <button
                                            mat-icon-button
                                            class="icon-orange"
                                            (click)="openEditDialog(question)"
                                            aria-label="Frage bearbeiten"
                                        >
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button
                                            mat-icon-button
                                            class="icon-orange"
                                            (click)="
                                                confirmDeleteQuestion(question)
                                            "
                                            aria-label="Frage löschen"
                                        >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>

                                    <mat-card-title>{{
                                        question.question
                                    }}</mat-card-title>

                                    <p class="answer-possibilities-label">
                                        Mögliche Antworten:
                                    </p>
                                    <ul
                                        *ngIf="
                                            parseAnswerPossibilities(
                                                question.answerPossibilities
                                            ) &&
                                            objectKeys(
                                                parseAnswerPossibilities(
                                                    question.answerPossibilities
                                                )
                                            ).length > 0
                                        "
                                    >
                                        <li
                                            *ngFor="
                                                let key of objectKeys(
                                                    parseAnswerPossibilities(
                                                        question.answerPossibilities
                                                    )
                                                )
                                            "
                                        >
                                            <strong>{{ key }}:</strong>
                                            {{
                                                formatValue(
                                                    parseAnswerPossibilities(
                                                        question.answerPossibilities
                                                    )[key]
                                                )
                                            }}
                                        </li>
                                    </ul>

                                    <p
                                        *ngIf="
                                            !parseAnswerPossibilities(
                                                question.answerPossibilities
                                            ) ||
                                            objectKeys(
                                                parseAnswerPossibilities(
                                                    question.answerPossibilities
                                                )
                                            ).length === 0
                                        "
                                    >
                                        Keine Antwortmöglichkeiten vorhanden.
                                    </p>

                                    <p class="question-info">
                                        Aktiv:
                                        {{
                                            question.isActive ? 'Ja' : 'Nein'
                                        }}
                                        | Typ: {{ question.questionType }} |
                                        Punktefaktor:
                                        {{ question.pointMultiplier }}
                                    </p>
                                </mat-card>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </main>
</div>
