<div class="wrapper">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>

    <main>
        <h1 class="Site-title">Fragen | Dashboard</h1>
        <mat-card class="Card">
            <div class="card-header">
                <mat-card-title class="mat-card-title"
                    >Fragen-Sets</mat-card-title
                >

                <div class="card-actions">
                    <button mat-icon-button class="icon-button-orange">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button class="icon-button-orange">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="icon-button-orange">
                        <mat-icon>build</mat-icon>
                    </button>
                    <button mat-icon-button class="icon-button-orange">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </div>
            </div>

            <mat-card-content>
                <!-- Tabellen Inhalt -->
            </mat-card-content>
        </mat-card>
    </main>
</div>
