<nav class="sidebar">
    <div class="sidebar-header">
        <h2 class="logo">Expoplay</h2>
        <h3 class="sub-logo">Dashboard</h3>

    </div>

    <ul class="nav-items">
        <li class="nav-item"><span>Dashboard</span></li>
        <li class="nav-item"><span>Quiz Fragen</span></li>
        <li class="nav-item active"><span>Konsolen Tabelle</span></li>
        <li class="nav-item"><span>Expos Tabelle</span></li>
        <li class="nav-item"><span>Benutzer Tabelle</span></li>
        <li class="nav-item"><span>Spieler Daten</span></li>
    </ul>
</nav>
