<h1 mat-dialog-title>Neues Quiz erstellen</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Quiz-Name</mat-label>
        <input matInput [(ngModel)]="quiz.name" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Aktiv?</mat-label>
        <input matInput [(ngModel)]="quiz.isActive" />
    </mat-form-field>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button color="primary" (click)="save()">Speichern</button>
</div>
