.login-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: flex-start; /* Links ausgerichtet */
    padding-left: 10%;
}

.login-card {
    width: 400px;
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #ff8c00;
}

.subtitle {
    color: #888;
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.forgot-password {
    color: #00bcd4;
    text-decoration: none;
}

.login-btn {
    margin-top: 20px;
    background: #00bcd4;
    color: #fff;
    font-weight: bold;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: #00bcd4;
    text-decoration: none;
}
