<div class="login-container">
    <mat-card class="login-card">
        <mat-card-title class="title">Sign In</mat-card-title>
        <p class="subtitle">Geben Sie Ihre Email ein zum Anmelden</p>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="full-width">
                    <input
                        matInput
                        formControlName="email"
                        type="email"
                        placeholder="Email"
                        required
                    />
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <input
                        matInput
                        formControlName="password"
                        type="password"
                        placeholder="Passwort"
                        required
                    />
                    <button
                        mat-icon-button
                        matSuffix
                        (click)="togglePasswordVisibility()"
                    >
                        <mat-icon>{{
                            hidePassword ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                    </button>
                </mat-form-field>

                <div class="options">
                    <mat-checkbox formControlName="rememberMe"
                        >Angemeldet bleiben</mat-checkbox
                    >
                    <a href="#" class="forgot-password">Passwort vergessen?</a>
                </div>

                <button
                    mat-raised-button
                    color="primary"
                    class="full-width login-btn"
                    type="submit"
                >
                    Anmelden
                </button>
            </form>
        </mat-card-content>

        <p class="register-link">
            Noch nicht registriert? <a href="#">Jetzt registrieren</a>
        </p>
    </mat-card>
</div>
