<div class="mainContainer">
    <div class="loginContainer">
        <div class="loginForm">
            <div class="loginFormHeader">
                <h1>Login</h1>
            </div>
            <div class="loginFormBody">
                <form
                    [formGroup]="loginForm"
                    (ngSubmit)="onSubmit()"
                    novalidate
                >
                    <div class="formGroup">
                        <label class="suvaInputLabel" for="email">Email</label>
                        <input
                            type="email"
                            formControlName="email"
                            class="suvaInput"
                            id="email"
                            placeholder="Enter email"
                        />
                    </div>
                    <div class="formGroup">
                        <label class="suvaInputLabel" for="password"
                            >Passwort</label
                        >
                        <input
                            type="password"
                            formControlName="password"
                            class="suvaInput"
                            id="password"
                            placeholder="Geben Sie Ihr Passwort ein"
                        />
                    </div>
                    <button
                        type="submit"
                        class="suvaButton"
                        [disabled]="loginForm.invalid"
                    >
                        Einloggen
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="backgroundContainer">
        <div class="logoContainer">
            <img
                src="./assets/images/ExpoPlay_Logo.png"
                alt="Logo"
                class="logo"
            />
            <div class="split"></div>
            <img src="./assets/images/suva-logo.svg" alt="Logo" class="logo" />
        </div>
    </div>
</div>
