<header>
    <div class="logoContainer">
        <img src="./assets/images/suva-logo.svg" alt="Logo" class="logo" />
        <div class="split"></div>
        <img src="./assets/images/ExpoPlay_Logo.png" alt="Logo" class="logo" />
    </div>
    <p>Anmeldung</p>
</header>
<div class="mainContainer">
    <div class="loginFormHeader">
        <h1>Anmelden auf ExpoPlay</h1>
    </div>
    <div class="loginForm">
        <div class="loginFormBody">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="formGroup">
                    <label class="suvaInputLabel" for="email">E-Mail*</label>
                    <input
                        type="email"
                        formControlName="email"
                        class="suvaInput"
                        id="email"
                        placeholder="email@muster.ch"
                    />
                </div>
                <div class="formGroup">
                    <label class="suvaInputLabel" for="password"
                        >Passwort*</label
                    >
                    <input
                        type="password"
                        formControlName="password"
                        class="suvaInput"
                        id="password"
                        placeholder="Passwort eingeben"
                    />
                </div>
                <button
                    type="submit"
                    class="suvaButton"
                    [disabled]="loginForm.invalid"
                >
                    Einloggen
                </button>
            </form>
        </div>
        <div class="split"></div>
        <div class="passwordReset">
            <h1 class="passwordHeader">Passwort vergessen?</h1>
            <h2>Jetzt zurücksetzen</h2>
        </div>
    </div>
</div>
