<app-header title="Konsolen-Tabell"></app-header>

<div class="wrapper">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>

    <main>
        <mat-card class="Card">
            <div class="card-header">
                <mat-card-title class="mat-card-title">Konsole</mat-card-title>
                <div class="card-actions">
                    <button
                        mat-icon-button
                        class="icon-button-orange"
                        (click)="openAddConsoleDialog()"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

            <mat-card-content>
                <table
                    mat-table
                    [dataSource]="dataSource"
                    class="tableInMat"
                    matSort
                >
                    <!-- Name -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.name }}
                        </td>
                    </ng-container>

                    <!-- Current Expo -->
                    <ng-container matColumnDef="currentExpo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            currentExpo
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.currentExpo ?? 'Keine Expo' }}
                        </td>
                    </ng-container>

                    <!-- Current Quiz -->
                    <ng-container matColumnDef="currentQuiz">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            currentQuiz
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.currentQuiz ?? 'Keine Quiz' }}
                        </td>
                    </ng-container>

                    <!-- Aktiv -->
                    <ng-container matColumnDef="isActive">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Aktiv
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.isActive ? 'Ja' : 'Nein' }}
                        </td>
                    </ng-container>

                    <!-- Aktionen -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Aktionen</th>
                        <td mat-cell *matCellDef="let element">
                            <button
                                mat-icon-button
                                (click)="openEditConsoleDialog(element)"
                            >
                                <mat-icon style="color: #00b8cf">edit</mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                (click)="deleteConsole(element)"
                            >
                                <mat-icon style="color: #00b8cf"
                                    >delete</mat-icon
                                >
                            </button>
                        </td>
                    </ng-container>

                    <!-- Tabellenstruktur -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </main>
</div>
