<div class="wrapper">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>

    <main>
        <h1 class="Site-title">Konsolen-Tabelle</h1>
        <mat-card class="Card">
            <div class="card-header">
                <mat-card-title class="mat-card-title">Konsole</mat-card-title>
                <div class="card-actions">
                    <button mat-icon-button class="icon-button-orange">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button class="icon-button-orange">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="icon-button-orange">
                        <mat-icon>build</mat-icon>
                    </button>
                    <button mat-icon-button class="icon-button-orange">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </div>
            </div>

            <mat-card-content>
                <table
                    mat-table
                    [dataSource]="dataSource"
                    class="tableInMat"
                    matSort
                >
                    <ng-container matColumnDef="consoleName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Konsolen Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.consoleName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="austellung">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Austellung
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.austellung }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="quiz">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Quiz
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.quiz }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Aktiv
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.active ? 'Ja' : 'Nein' }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </main>
</div>
