<div class="wrapper">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>

    <main>
        <h1 class="Site-title">Konsolen-Tabelle</h1>
        <mat-card class="Card">
            <div class="card-header">
                <mat-card-title class="mat-card-title">Konsole</mat-card-title>
                <div class="card-actions">
                    <button class="icon-button-orange" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                    <button class="icon-button-orange" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button class="icon-button-orange" mat-icon-button>
                        <mat-icon>build</mat-icon>
                    </button>
                    <button class="icon-button-orange" mat-icon-button>
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </div>
            </div>

            <mat-card-content>
                <table
                    [dataSource]="dataSource"
                    class="tableInMat"
                    mat-table
                    matSort
                >
                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            Konsolen Name
                        </th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="exhibition">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            Austellung
                        </th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.exhibition }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="quiz">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            Quiz
                        </th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.quiz }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="active">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            Aktiv
                        </th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.active ? 'Ja' : 'Nein' }}
                        </td>
                    </ng-container>

                    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                    <tr
                        *matRowDef="let row; columns: displayedColumns"
                        mat-row
                    ></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </main>
</div>
