<div class="wrapper">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>

    <div class="dashboard">
        <div class="row">
            <mat-card class="card-large">
                <mat-card-title class="mat-card-title"
                    >Highscore</mat-card-title
                >
                <mat-card-content>
                    <canvas id="highscoreChart"></canvas>
                </mat-card-content>
            </mat-card>

            <mat-card class="card-small">
                <mat-card-title class="mat-card-title"
                    >Quizzes gespielt</mat-card-title
                >
                <mat-card-content>
                    <canvas id="quizzesChart"></canvas>
                </mat-card-content>
            </mat-card>

            <mat-card class="card-small">
                <mat-card-title class="mat-card-title"
                    >Total gespielte Quizzes</mat-card-title
                >
                <mat-card-content>
                    <h1 class="big-number">{{ totalQuizzesPlayed }}</h1>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="row">
            <!-- Konsolen -->
            <mat-card class="card-large">
                <mat-card-title class="mat-card-title">Konsolen</mat-card-title>
                <mat-card-content>
                    <div class="scroll-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Aktuelle Ausstellung</th>
                                    <th>Letzte Aktivität</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let console of consoles">
                                    <td>{{ console.name }}</td>
                                    <td>{{ console.currentExpo }}</td>
                                    <td>{{ console.lastActive }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Ausstellungen -->
            <mat-card class="super-large">
                <mat-card-title class="mat-card-title"
                    >Ausstellungen</mat-card-title
                >
                <mat-card-content>
                    <div class="scroll-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Ort</th>
                                    <th>Startdatum</th>
                                    <th>Enddatum</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let expo of expos">
                                    <td>{{ expo.name }}</td>
                                    <td>{{ expo.location }}</td>
                                    <td>{{ expo.startsOn }}</td>
                                    <td>{{ expo.endsOn }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="row">
            <!-- Spielerdaten -->
            <mat-card class="card-small">
                <mat-card-title class="mat-card-title"
                    >Spielerdaten</mat-card-title
                >
                <mat-card-content>
                    <div class="scroll-container">
                        <div *ngFor="let player of players" class="rounded-box">
                            <p>{{ player.firstName }} {{ player.lastName }}</p>
                            <p>{{ player.email }}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Benutzer | Dashboard -->
            <mat-card class="card-small">
                <mat-card-title class="mat-card-title"
                    >Benutzer | Dashboard</mat-card-title
                >
                <mat-card-content>
                    <div class="scroll-container">
                        <div *ngFor="let user of users" class="rounded-box">
                            <p>{{ user.firstName }} {{ user.lastName }}</p>
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
