<div class="wrapper">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>

    <div class="dashboard">
        <div class="row row1">
            <mat-card class="card-large">
                <mat-card-title class="mat-card-title"
                    >Highscore</mat-card-title
                >
                <mat-card-content>
                    <ng-container *ngIf="chartReady; else loading">
                        <app-highscore-diagramm
                            [quizStats]="quizStats"
                        ></app-highscore-diagramm>
                    </ng-container>
                    <ng-template #loading>
                        <p>Diagramm wird geladen...</p>
                    </ng-template>
                </mat-card-content>
            </mat-card>

            <mat-card class="card-large">
                <mat-card-title class="mat-card-title"
                    >Quizzes gespielt</mat-card-title
                >
                <mat-card-content>
                    <ng-container *ngIf="chartReady; else loading">
                        <app-quizzes-played
                            [quizStats]="quizStats"
                        ></app-quizzes-played>
                    </ng-container>
                    <ng-template #loading>
                        <p>Diagramm wird geladen...</p>
                    </ng-template>
                </mat-card-content>
            </mat-card>
            <mat-card class="card-small">
                <mat-card-title class="mat-card-title">
                    Total gespielte Quizzes
                </mat-card-title>
                <mat-card-content>
                    <h1 class="big-number">{{ totalQuizzesPlayed }}</h1>
                </mat-card-content>
            </mat-card>
        </div>
        <div style="color: #666666">
            <div class="row">
                <!-- Konsolen -->
                <mat-card class="card-large">
                    <mat-card-title class="mat-card-title"
                        >Konsolen</mat-card-title
                    >
                    <mat-card-content>
                        <div class="scroll-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Aktuelle Ausstellung</th>
                                        <th>Letzte Aktivität</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let console of consoles">
                                        <td>{{ console.name }}</td>
                                        <td>{{ console.currentExpo }}</td>
                                        <td>{{ console.lastActive }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-card-content>
                </mat-card>

                <!-- Ausstellungen -->
                <mat-card class="super-large">
                    <mat-card-title class="mat-card-title"
                        >Ausstellungen</mat-card-title
                    >
                    <mat-card-content>
                        <div class="scroll-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Ort</th>
                                        <th>Startdatum</th>
                                        <th>Enddatum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let expo of expos">
                                        <td>{{ expo.name }}</td>
                                        <td>{{ expo.location }}</td>
                                        <td>{{ expo.startsOn }}</td>
                                        <td>{{ expo.endsOn }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <!-- Spielerdaten -->
            <mat-card class="card-small">
                <mat-card-title class="mat-card-title"
                    >Spielerdaten</mat-card-title
                >
                <mat-card-content>
                    <div class="player"></div>
                </mat-card-content>
            </mat-card>

            <!-- Benutzer | Dashboard -->
            <mat-card class="card-small">
                <mat-card-title class="mat-card-title"
                    >Benutzer | Dashboard</mat-card-title
                >
                <mat-card-content>
                    <div class="player"></div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
