<h2
    mat-dialog-title
    style="background-color: white; color: #ff8200; margin: 0; padding: 16px"
>
    Konsole-ID
</h2>

<mat-dialog-content style="padding: 16px">
    <p>Deine neu erstellte Konsolen-ID lautet:</p>
    <strong>{{ data.id }}</strong>
    <p style="margin-top: 16px">
        Du kannst diese ID nur einmal sehen. Wenn du dieses Fenster schliesst,
        ist die ID nicht mehr verfügbar.
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end" style="padding: 16px">
    <button mat-button (click)="onClose()">Schliessen</button>
</mat-dialog-actions>
