.wrapper {
    display: flex;
    height: 100vh;
}

aside {
    width: 250px;
    background-color: #f8f9fa;
    height: 100%;
}

main {
    flex-grow: 1;
    padding: 20px;
}

.app-container {
    overflow-y: hidden;
}
