<div class="sidenav">
    <h1 class="logotitle">ExpoPlay Dashbaord</h1>
    <nav>
        <a href="/dashboard" class="nav-item active">
            <i>🏠</i>
            <span class="nav-text">Dashboard</span>
        </a>

        <a href="/quiz-questions" class="nav-item">
            <i>❓</i>
            <span class="nav-text">Quiz Fragen</span>
        </a>

        <a href="/console" class="nav-item">
            <i>📊</i>
            <span class="nav-text">Konsolen Tabelle</span>
        </a>

        <a href="/expo" class="nav-item">
            <i>📋</i>
            <span class="nav-text">Expos Tabelle</span>
        </a>

        <a href="/user" class="nav-item">
            <i>👤</i>
            <span class="nav-text">Benutzer Tabelle</span>
        </a>

        <a href="/player" class="nav-item">
            <i>🔒</i>
            <span class="nav-text">Spieler Daten</span>
        </a>
    </nav>
</div>
