<div class="sidenav">
    <!-- Navigationsbereich -->
    <div class="nav-section">
        <ul>
            <!-- Dashboard -->
            <li>
                <a
                    class="nav-item"
                    [routerLink]="'/dashboard'"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    <lucide-icon
                        [name]="icons.house"
                        class="icon"
                    ></lucide-icon>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>

            <!-- Quiz Fragen -->
            <li>
                <a
                    class="nav-item"
                    [routerLink]="'/quiz-questions'"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    <lucide-icon
                        [name]="icons.FileQuestion"
                        class="icon"
                    ></lucide-icon>
                    <span class="nav-text">Quiz Fragen</span>
                </a>
            </li>

            <!-- Konsolen Tabelle -->
            <li>
                <a
                    class="nav-item"
                    [routerLink]="'/console'"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    <lucide-icon
                        [name]="icons.gamepad"
                        class="icon"
                    ></lucide-icon>
                    <span class="nav-text">Konsolen Tabelle</span>
                </a>
            </li>

            <!-- Expos Tabelle -->
            <li>
                <a
                    class="nav-item"
                    [routerLink]="'/expo'"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    <lucide-icon
                        [name]="icons.factory"
                        class="icon"
                    ></lucide-icon>
                    <span class="nav-text">Expos Tabelle</span>
                </a>
            </li>

            <!-- Benutzer Tabelle -->
            <li>
                <a
                    class="nav-item"
                    [routerLink]="'/user'"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    <lucide-icon [name]="icons.user" class="icon"></lucide-icon>
                    <span class="nav-text">Benutzer Tabelle</span>
                </a>
            </li>

            <!-- Spieler Daten -->
            <li>
                <a
                    class="nav-item"
                    [routerLink]="'/player'"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    <lucide-icon
                        [name]="icons.FileUser"
                        class="icon"
                    ></lucide-icon>
                    <span class="nav-text">Spieler Daten</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Logout Button ganz unten -->
    <div class="logout-wrapper">
        <a class="nav-item logout" (click)="logout()">
            <lucide-icon [name]="icons.logout" class="icon"></lucide-icon>
            <span class="nav-text">Logout</span>
        </a>
    </div>
</div>
