<div class="wrapper">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>

    <main>
        <h1 class="Site-title">Benutzer | Dashboard</h1>
        <mat-card class="Card">
            <mat-card-title class="mat-card-title"
                >Benutzer tabelle
            </mat-card-title>

            <mat-card-content>
                <div
                    *ngFor="let user of users; trackBy: trackByUser"
                    class="user-row"
                >
                    <mat-card-content class="adminUserCard">
                        <p>{{ user.name }}</p>

                        <button mat-icon-button class="more-vert">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </mat-card-content>
                </div>
            </mat-card-content>
        </mat-card>
    </main>
</div>
