<div class="wrapper">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>

    <main>
        <h1 class="Site-title">Benutzer | Dashboard</h1>
        <mat-card class="Card">
            <div class="card-header">
                <mat-card-title class="mat-card-title">Benutzer</mat-card-title>
                <div class="card-actions">
                    <button
                        mat-icon-button
                        class="icon-button-orange"
                        (click)="openAddUserDialog()"
                    >
                        <mat-icon>person_add</mat-icon>
                    </button>
                </div>
            </div>

            <mat-card-content>
                <div
                    *ngFor="let user of users; trackBy: trackByUser"
                    class="user-row"
                >
                    <mat-card-content class="adminUserCard">
                        <p>{{ user.firstName }} {{ user.lastName }}</p>
                        <p>{{ user.email }}</p>
                        <p>Admin: {{ user.isAdmin ? 'Ja' : 'Nein' }}</p>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button
                                mat-menu-item
                                class="delete-menu-item"
                                (click)="openEditUserDialog(user)"
                            >
                                <mat-icon>edit</mat-icon>
                                <span>Bearbeiten</span>
                            </button>
                            <button
                                mat-menu-item
                                class="delete-menu-item"
                                (click)="deleteUser(user)"
                            >
                                <mat-icon>delete</mat-icon>
                                <span>Löschen</span>
                            </button>
                        </mat-menu>
                    </mat-card-content>
                </div>
            </mat-card-content>
        </mat-card>
    </main>
</div>
