@font-face {
    font-family: 'HelveticaNeueLTW04';
    src: url(assets/HelveticaNeueLTW04-45Light.woff2);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTW04';
    src: url(assets/HelveticaNeueLTW04-55Roman.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTW04';
    src: url(assets/HelveticaNeueLTW04-65Medium.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTW04';
    src: url(assets/HelveticaNeueLTW04-75Bold.woff2);
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'HelveticaNeueLTW04';
}

html,
body {
    height: 100vh; /* Setzt die Höhe auf 100% des Viewports */
    width: 100vw; /* Setzt die Breite auf 100% des Viewports */
    overflow: hidden; /* Deaktiviert jegliches Scrollen */
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
